* {
    box-sizing: border-box
}

html,
body {
    font-family: monospace;
    padding: 0px;
    margin: 0px
}

h1,
h2 {
    padding: 0px;
    margin: 0px
}

.content-wrapper {
    padding: 5px;
}

/* .tile-grid {
    margin: auto auto
} */

.tile {
    max-width: 300px;
    padding: 15px;
    margin: 15px;
    box-shadow: 9px 9px black;
    border: 3px solid #000;
    margin-bottom: 30px;
    transition-property: all !important
}

.tile2 {
    max-width: 500px;
    padding: 15px;
    margin: 15px;
    box-shadow: 9px 9px black;
    border: 3px solid #000;
    margin-bottom: 30px;
    transition-property: all !important
}

.tile3 {
    max-width: 100px;
    padding: 15px;
    margin: 15px;
    box-shadow: 9px 9px black;
    border: 3px solid #000;
    margin-bottom: 30px;
    transition-property: all !important
}

.tile.site-down {
    opacity: 0.2 !important;
    pointer-events: none;
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

header {
    background: #000;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px
}

.noscript {
    margin: auto;
    max-width: 500px
}

.noscript2 {
    margin: auto;
    max-width: 95%
}

.noscript3 {
    margin: auto;
    max-width: 100px;
    padding: 10px;
    text-align: auto;
    display: inline-block
}

.title-tile {
    max-width: 250px;
    padding: 15px;
    border: 5px solid #fff;
    box-shadow: 9px 9px #fff;
    margin: auto
}

.title-tile a {
    color: #f9f9f9
}

h1 {
    font-size: 20px;
    margin-bottom: 8px
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 14px
}

a {
    color: #333;
    text-decoration: none
}

a:visited {
    color: #888
}

a:visited h1 {
    color: #888
}

ul {
    padding-left: 0px;
    list-style: none;
    font-size: 14px
}

li {
    margin-bottom: 4px
}

li:before {
    content: "------> "
}

img {
    width: 100%;
    margin-bottom: 10px
}

.loader {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 10px
}

.loader .loader-bar {
    width: 0px;
    height: 5px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background: black
}

.loader.loading .loader-bar {
    transition: width 800ms ease-out;
    width: calc(100vw - 10px)
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 45px
}